<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Vodafone App Automation Test Suite">

	<listeners>
		<listener class-name="com.vodafone.retryAnalyzer.RetryTransformer" />
	</listeners>

	<test thread-count="2" name="Vodafone Automation Test Framework">
		<classes>

			<class name="com.vodafone.testcases.configTest" />
			<class name="com.vodafone.testcases.vodafone_Test" />
		
		</classes>
	</test>
</suite><!-- Suite -->
